# Gitignore for Raku (https://raku.org)
# As part of https://github.com/github/gitignore

# precompiled files
.precomp
lib/.precomp

/publication/
/.raku-version
/elucid8-sandpit.iml
/.idea/comma.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/misc/file-data.rakuon
/repos/
/sources/en/language/
/sources/en/type/
